NET "clk" LOC = "B8";

#NET "JB<0>"       LOC = "M13";   # Bank = 1, Pin name = IO_L05N_1/VREF_1, Type = VREF,                Sch name = JB1
#NET "JB<1>"       LOC = "R18";   # Bank = 1, Pin name = IO_L02P_1/A14, Type = DUAL,                   Sch name = JB2

NET "mic_clk"  LOC = "M13"; # sch JB1
NET "mic_data" LOC = "R18"; # sch JB2