//! **************************************************************************
// Written by: Map P.20131013 on Thu Sep 11 16:22:54 2014
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
COMP "mic_clk" LOCATE = SITE "M13" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

